* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

.section1 {
    width:100%;
    // nav
    .navbar {
        width:100%;
        height:10%;
        background-color:rgba(249, 225, 184, 0.65);
        position:fixed;
        bottom:90%;
        display:flex;
        align-content:center;
        font-family: Microsoft JhengHei;
        // 店名
        .title {
            width:12%;
            background-color:#FFF4F0;
            border:1px  #FFF4F0 solid;
            border-radius:40px;  
            text-align:center;
            position:relative;
            z-index:1;
            a {
                text-decoration: none;
                span {
                    color:#C48222;
                    font-size:40px;
                    font-weight:900;
                    @media screen and (max-width:768px) {
                        font-size:30px;
                    }
                }
            }
            
        }
        // nav右邊的點選列表
        .nav-list {
            width:50%;
            display:flex;
            flex-wrap:wrap;
            justify-content: space-around;
            a {
                text-decoration: none;
                span {
                    color:#893D1F;
                    font-size:20px;
                    font-weight:600;
                    letter-spacing: 2px;
                    @media screen and (max-width:768px) {
                        font-size:14px;
                    }
                }
            }
            
        }
    }

}

.section2 {
    width:100%;
    border:1px black solid;
    .shop-menu {
        max-width:100%;
        font-family: Microsoft JhengHei;
        img {
            width:100%;
        }
        .menu-title {
            width:15%;
            position:absolute;
            top:120%;
            left:10%;
            .menu-line {
                width:60%;
                border:1px green solid;
            }
            span {
                font-size:40px;
            }
        }
    }

    // 寫到menu-box的部分
    .menu-box {
        width:80%;
        height:30vh;
        border:1px black solid;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
        margin:auto;
        position:absolute;
        top:15%;
        .left-box {
            width:30%;
            background-color:red;
        }
        .right-box {
            width:70%;
            background-color:green;
        }
    }
}

