@import 'variables';

* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

.section1 {
    width:100%;
    // nav
    .navbar {
        width:100%;
        height:10%;
        background-color:rgba(249, 225, 184, 0.65);
        position:fixed;
        bottom:90%;
        display:flex;
        align-content:center;
        font-family: Microsoft JhengHei;
        // 店名
        .title {
            width:40%;
            // background-color:#FFF4F0;
            // border:1px  #FFF4F0 solid;
            border-radius:40px;  
            text-align:left;
            margin-left:20px;
            position:relative;
            z-index:1;
            a {
                text-decoration: none;
                span {
                    color:#893D1F;
                    font-size:$h1;
                    font-weight:900;
                    @media screen and (max-width:768px) {
                        font-size:$h4;
                    }
                    @media screen and (max-width:360px) {
                        font-size:$h6;
                    }
                }
            }
            
        }
        // nav右邊的點選列表
        .nav-list {
            width:50%;
            display:flex;
            flex-wrap:wrap;
            justify-content: space-around;
            a {
                text-decoration: none;
                span {
                    color:#893D1F;
                    font-size:$h5;
                    font-weight:600;
                    letter-spacing: 2px;
                    @media screen and (max-width:768px) {
                        font-size:$h7;
                    }
                    @media screen and (max-width:607px) {
                        font-size:$h8;
                    }
                }
            }
            
        }
    }

}

.section2 {
    width:100%;
    border:1px black solid;
    .shop-menu {
        min-width:100%;
        // font-family: Microsoft JhengHei;
        background-image: url('/img2/02.jpg');
        background-size:cover;
        background-position: center;
        padding:150px;
        .menu-title {
            width:15%;
            font-family: Microsoft JhengHei;
            .menu-line {
                width:60%;
                border:1px green solid;
            }
            span {
                font-size:$h1;
                font-weight:900;
            }
            #menu-font-size {
                font-size:$h3;
            }
        }

        .menu-box {
            width:80%;
            height:70vh;
            background-color:yellow;
            margin:auto;
            margin-top:3%;
            .left-box {
                width:20%;
                background-color:green;
            }
            .right-box {
                width:80%;
                background-color:brown;
            }
        }
    }

}

