* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.section1 {
  width: 100%;
}

.section1 .navbar {
  width: 100%;
  height: 10%;
  background-color: rgba(249, 225, 184, 0.65);
  position: fixed;
  z-index: 999;
  bottom: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Microsoft JhengHei;
}

.section1 .navbar .title {
  width: 40%;
  border-radius: 40px;
  text-align: left;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}

.section1 .navbar .title a {
  text-decoration: none;
}

.section1 .navbar .title a span {
  color: #893d1f;
  font-size: 40px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .section1 .navbar .title a span {
    font-size: 28px;
  }
}

@media screen and (max-width: 360px) {
  .section1 .navbar .title a span {
    font-size: 20px;
  }
}

.section1 .navbar .nav-list {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section1 .navbar .nav-list a {
  text-decoration: none;
}

.section1 .navbar .nav-list a span {
  color: #893d1f;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .section1 .navbar .nav-list a span {
    font-size: 16px;
  }
}

@media screen and (max-width: 607px) {
  .section1 .navbar .nav-list a span {
    font-size: 12px;
  }
}

.section2 {
  width: 100%;
}

.section2 .shop-menu {
  width: 100%;
  background-image: url("/img2/02.jpg");
  background-size: cover;
  padding: 105px;
}

@media screen and (max-width: 399px) {
  .section2 .shop-menu {
    padding: 80px;
  }
}

.section2 .shop-menu .menu-title {
  width: 92%;
  font-family: Microsoft JhengHei;
  margin-top: 5%;
  margin-left: 0.5%;
}

.section2 .shop-menu .menu-title .menu-line {
  width: 10%;
  border: 1px green solid;
}

.section2 .shop-menu .menu-title span {
  font-size: 40px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .section2 .shop-menu .menu-title span {
    font-size: 32px;
  }
}

.section2 .shop-menu .menu-title #menu-font-size {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .section2 .shop-menu .menu-title #menu-font-size {
    font-size: 16px;
  }
}

.section2 .shop-menu .menu-box {
  min-width: 94%;
  margin: auto;
  margin-top: 2%;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1697px) {
  .section2 .shop-menu .menu-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 80%;
  }
}

@media screen and (max-width: 399px) {
  .section2 .shop-menu .menu-box {
    min-width: 100%;
  }
}

.section2 .shop-menu .menu-box .left-box {
  max-width: 40%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .section2 .shop-menu .menu-box .left-box {
    max-width: 60%;
  }
}

.section2 .shop-menu .menu-box .left-box .left-box-img {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1697px) {
  .section2 .shop-menu .menu-box .left-box .left-box-img {
    margin-left: 75%;
  }
}

@media screen and (max-width: 768px) {
  .section2 .shop-menu .menu-box .left-box .left-box-img {
    margin-left: 40%;
  }
}

.section2 .shop-menu .menu-box .left-box .left-box-img:hover {
  opacity: 0;
}

.section2 .shop-menu .menu-box .left-box .left-box-img2 {
  position: absolute;
  width: 99%;
  right: 0.5%;
}

@media screen and (max-width: 1697px) {
  .section2 .shop-menu .menu-box .left-box .left-box-img2 {
    left: 75%;
  }
}

@media screen and (max-width: 798px) {
  .section2 .shop-menu .menu-box .left-box .left-box-img2 {
    left: 75%;
  }
}

@media screen and (max-width: 768px) {
  .section2 .shop-menu .menu-box .left-box .left-box-img2 {
    left: 40%;
  }
}

.section2 .shop-menu .menu-box .right-box {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

@media screen and (max-width: 1697px) {
  .section2 .shop-menu .menu-box .right-box {
    width: 100%;
    margin-top: 2%;
  }
}

@media screen and (max-width: 768px) {
  .section2 .shop-menu .menu-box .right-box {
    max-width: 120%;
  }
}

.section2 .shop-menu .menu-box .right-box .food-box {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1099px) {
  .section2 .shop-menu .menu-box .right-box .food-box {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .section2 .shop-menu .menu-box .right-box .food-box {
    width: 120px;
  }
}

@media screen and (max-width: 547px) {
  .section2 .shop-menu .menu-box .right-box .food-box {
    width: 80px;
  }
}

.section2 .shop-menu .menu-box .right-box .food-box img {
  width: 100%;
}

.section2 .shop-menu .menu-box .right-box .food-box .food-pt1 {
  position: relative;
  width: 270px;
}

.section2 .shop-menu .menu-box .right-box .food-box .food-pt1:hover {
  opacity: 0;
}

.section2 .shop-menu .menu-box .right-box .food-box .food-pt2 {
  position: absolute;
  width: 270px;
}

@media screen and (max-width: 1697px) {
  .section2 .shop-menu .menu-box .right-box .food-box-bottom {
    margin-top: 1%;
  }
}

.section2 .shop-menu .menu-box .right-box .food3 {
  font-family: Microsoft JhengHei;
  font-weight: 600;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1697px) {
  .section2 .shop-menu .menu-box .right-box .food3 {
    display: none;
  }
}

.section2 .shop-menu .menu-box .right-box .food3 .food-text3 {
  margin-top: 40%;
  font-size: 36px;
}

.section2 .shop-menu .menu-box .right-box .food3 .food-text2 {
  font-size: 20px;
  margin-top: 40%;
}

.section2 .shop-menu .menu-box .right-box .food3 .food-text {
  margin-left: 40%;
  margin-top: 40%;
  font-size: 20px;
}

.section3 {
  width: 100%;
}

.section3 .news {
  width: 100%;
  background-image: url("/img2/03.jpg");
  background-size: cover;
  padding: 105px;
}

.section3 .news .news-title {
  width: 92%;
  font-family: Microsoft JhengHei;
  margin-top: 3%;
  margin-left: 3%;
  text-align: center;
}

.section3 .news .news-title .news-line {
  width: 10%;
  margin: auto;
  border: 1px green solid;
}

.section3 .news .news-title span {
  font-size: 40px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .section3 .news .news-title span {
    font-size: 32px;
  }
}

.section3 .news .news-title #news-font-size {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .section3 .news .news-title #news-font-size {
    font-size: 16px;
  }
}

.section3 .news .card-group {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  margin-top: 5%;
}

.section3 .news .card-group .card2,
.section3 .news .card-group .card3 {
  margin-left: 10px;
}

.section4 {
  width: 100%;
}

.section4 .shop {
  width: 100%;
  background-image: url("/img2/04.jpg");
  background-size: cover;
  padding-bottom: 200px;
}

.section4 .shop .shop-title {
  width: 92%;
  font-family: Microsoft JhengHei;
  text-align: center;
  margin-left: 3%;
  padding-top: 10%;
}

.section4 .shop .shop-title .shop-line {
  width: 10%;
  margin: auto;
  border: 1px green solid;
}

.section4 .shop .shop-title span {
  font-size: 40px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .section4 .shop .shop-title span {
    font-size: 32px;
  }
}

.section4 .shop .shop-title #shop-font-size {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .section4 .shop .shop-title #shop-font-size {
    font-size: 16px;
  }
}

.section4 .shop .shop-box {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section4 .shop .shop-box .shop-left {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.section4 .shop .shop-box .shop-left .shop-text {
  width: 80%;
  background-color: pink;
  border: 1px pink solid;
  border-radius: 50px;
  font-size: 36px;
  font-weight: 900;
  font-family: Microsoft JhengHei;
  text-align: center;
  padding: 5% 0;
}

.section4 .shop .shop-box .shop-left .shop-text:hover {
  color: #eb2d2d;
}

.section4 .shop .shop-box .shop-right {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section4 .shop .shop-box .shop-right .shop-pt {
  width: 32%;
}

.section4 .shop .shop-box .shop-right .shop-pt img {
  width: 100%;
}

.section5 {
  width: 100%;
}

.section5 .about {
  width: 100%;
  background-image: url("/img2/05.jpg");
  background-size: cover;
  padding-bottom: 200px;
}

.section5 .about .about-title {
  width: 92%;
  font-family: Microsoft JhengHei;
  padding-top: 13%;
  padding-right: 10%;
  text-align: right;
}

.section5 .about .about-title .about-line {
  width: 10%;
  margin-left: 90%;
  border: 1px green solid;
}

.section5 .about .about-title span {
  font-size: 40px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .section5 .about .about-title span {
    font-size: 32px;
  }
}

.section5 .about .about-title #about-font-size {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .section5 .about .about-title #about-font-size {
    font-size: 16px;
  }
}

.section5 .about .about-text {
  width: 35%;
  margin-top: 3%;
  margin-left: 48.5%;
  line-height: 40px;
  font-weight: 600;
  font-family: Microsoft JhengHei;
}

.section5 .about .about-text li {
  font-size: 24px;
}

.section5 .about .about-text p {
  margin-top: 1%;
  font-size: 20px;
}
/*# sourceMappingURL=index.css.map */