@import "variables";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.section1 {
    width: 100%;
    @media screen and (max-width:500px){
        margin-top:15%;
    }
    .navbar {
        .navbar-brand {
            color:rgb(196, 130, 34);
            font-size:$h1;
            font-weight:600;
            margin-left:1%;
        }
        .collapse {
            .navbar-nav {
                margin-right:1%;
            }
        }
    }
}

.section2 {
    width: 100%;
    .shop-menu {
        width: 100%;
        background-image: url("/img/02.jpg");
        background-size: cover;
        padding: 105px;
        .menu-title {
            width: 92%;
            font-family: Microsoft JhengHei;
            margin-top: 5%;
            margin-left: 0.5%;
            @media screen and (max-width: 1201px) {
                text-align:center;
            }
            span {
                font-size: $h1;
                font-weight: 900;
                @media screen and (max-width: 768px) {
                    font-size: $h5;
                }
            }
            #menu-font-size {
                font-size: $h5;
                @media screen and (max-width: 768px) {
                    font-size: $h7;
                }
            }
        }
        .menu-box {
            min-width: 94%;
            margin: auto;
            margin-top: 2%;
            margin-right: 10%;
            display: flex;
            justify-content: space-around;
            @media screen and (max-width: 1201px) {
                flex-direction:column;
            }
            @media screen and (max-width: 560px) {
                width:100%;
            }
            .left-box {
                width: 600px;
                position: relative;
                display:flex;
                @media screen and (max-width: 1201px) {
                    align-self:center;
                }
                @media screen and (max-width:790px) {
                    max-width:90%;
                }
                @media screen and (max-width:600px) {
                    max-width:100%;
                }
                @media screen and (max-width:515px) {
                    max-width:300px;
                }
                .left-box-img {
                    position: relative;
                    width: 100%;
                    align-self: center;
                    &:hover {
                        opacity: 0;
                    }
                }
                .left-box-img2 {
                    position: absolute;
                    width: 99%;
                    right: 0.5%;
                    align-self: center;
                }
            }
            .right-box {
                max-width: 58%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: space-between;
                margin:auto;
                @media screen and (max-width: 1201px) {
                    max-width: 100%;
                }
                .food-box {
                    width: 300px;
                    display: flex;
                    flex-wrap: wrap;
                    @media screen and (max-width: 1310px) {
                        max-width: 40%;
                        justify-content: center;
                        margin-top:1%;
                    }
                    @media screen and (max-width: 875px) {
                        max-width: 80%;
                    }
                    @media screen and (max-width: 560px) {
                        max-width:60%;
                    }
                    img {
                        width: 100%;
                    }
                    .food-pt1 {
                        position: relative;
                        width:300px;
                        &:hover {
                            opacity: 0;
                        }
                    }
                    .food-pt2 {
                        position: absolute;
                        width:300px;
                    }
                }
                .food-box-bottom {
                    color:black;
                }

                .food3 {
                    font-family: Microsoft JhengHei;
                    font-weight: 600;
                    writing-mode: vertical-lr;
                    display: flex;
                    flex-direction: column;
                    @media screen and (max-width:1860px) {
                        display:none;
                    }
                    
                    .food-text3 {
                        margin-top: 20%;
                        font-size: $h2;
                    }
                    .food-text2 {
                        font-size: $h6;
                        margin-top: 20%;
                      
                    }

                    .food-text {
                        margin-left: 40%;
                        margin-top: 20%;
                        font-size: $h6;
                        
                    }
                }
                .food4, .food5 {
                    margin-top:1%;
                }
            }
        }
    }
}

.section3 {
    width: 100%;

    .shop {
        width: 100%;
        background-image: url("/img/04.jpg");
        background-size: cover;
        padding-bottom: 300px;
        .shop-title {
            width: 92%;
            font-family: Microsoft JhengHei;
            text-align: center;
            margin-left: 3%;
            padding-top: 10%;
            span {
                font-size: $h1;
                font-weight: 900;
                @media screen and (max-width: 768px) {
                    font-size: $h5;
                }
            }
            #shop-font-size {
                font-size: $h5;
                @media screen and (max-width: 768px) {
                    font-size: $h7;
                }
            }
        }
        .shop-box {
            width: 90%;
            margin: auto;
            margin-top: 2%;
            display: flex;
            @media screen and (max-width:999px) {
                flex-direction:column;
            }
            .shop-left {
                width: 20%;
                display: flex;
                flex-wrap: wrap;
                align-content: space-around;
                @media screen and (max-width:999px) {
                    width:100%;
                    justify-content: center;
                }
                .shop-text {
                    width: 80%;
                    color: white;
                    border-radius: 50px;
                    font-size: $h2;
                    font-weight: 900;
                    font-family: Microsoft JhengHei;
                    text-align: center;
                    padding: 5% 0;
                    @media screen and (max-width:999px) {
                        width:40%;
                    }
                    @media screen and (max-width:999px) {
                        font-size:$h4;
                    }
                    &:hover {
                        color: rgb(235, 45, 45);
                    }
                }
            }
            .shopcard-group {
                width: 80%;
                display: flex;
                justify-content: space-around;
                @media screen and (max-width:999px) {
                    width:100%;
                }
                @media screen and (max-width:763px) {
                    flex-direction:column;
                }
                .shopcard {
                    width: 30%;
                    display: flex;
                    flex-wrap: wrap;
                    @media screen and (max-width:763px) {
                        width:100%;
                    }
                    .img {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.section4 {
    width: 100%;
    .news {
        width: 100%;
        background-image: url("/img/03.jpg");
        background-size: cover;
        padding-bottom: 200px;
        .news-title {
            width: 92%;
            font-family: Microsoft JhengHei;
            padding-top: 8%;
            margin-left: 3%;
            text-align: center;
            span {
                font-size: $h1;
                font-weight: 900;
                @media screen and (max-width: 768px) {
                    font-size: $h5;
                }
            }
            #news-font-size {
                font-size: $h5;
                @media screen and (max-width: 768px) {
                    font-size: $h7;
                }
            }
        }
        .card-group {
            width: 80%;
            display: flex;
            justify-content: space-around;
            margin: auto;
            margin-top: 5%;
            @media screen and (max-width:964px){
                display:flex;
                flex-direction:column;
            }
            .card {
                .card-body {
                    .card-title, .card-text, .card-date {
                        font-family: Microsoft JhengHei;
                        font-size:$h5;
                    }
                    .card-title {
                        font-size:$h3;
                        font-weight:600;
                    }
                    .card-date {
                        font-size:$h6;
                    }
                }
            }
           
            .card2, .card3 {
                margin-left:1%;
                @media screen and (max-width:964px){
                    margin-top:6%;
                }
            }
        }
    }
}

.section5 {
    width: 100%;
    .about {
        width: 100%;
        background-image: url("/img/05.jpg");
        background-size: cover;
        padding-bottom: 200px;
        
        .about-title {
            width: 92%;
            font-family: Microsoft JhengHei;
            padding-top: 13%;
            padding-right: 10%;
            text-align: right;
            @media screen and (max-width:768px){
                margin-left:13%;
                text-align:center;
            }
            @media screen and (max-width:360px){
                text-align:center;
            }
            span {
                font-size: $h1;
                font-weight: 900;
                
                @media screen and (max-width: 768px) {
                    font-size: $h5;
                }
                @media screen and (max-width:360px){
                    text-align:center
                }
            }
            #about-font-size {
                font-size: $h5;
                @media screen and (max-width: 768px) {
                    font-size: $h8;
                }
            }
        }
        .about-text {
            width: 35%;
            margin-top: 3%;
            margin-left: 48.5%;
            line-height: 40px;
            font-weight: 600;
            font-family: Microsoft JhengHei;
            @media screen and (max-width:1158px) {
                width:60%;
                background-color:rgba(221, 198, 198, 0.5);
                margin-left:22.5%;
            }
            @media screen and (max-width:768px){
                width:90%;
                margin-left:0%;
                margin:auto;
            }
            li {
                font-size: $h5;
                @media screen and (max-width:768px){
                    // font-size:$h5;
                    font-size:$h7;
                }
            }
            p {
                margin-top: 1%;
                font-size: $h6;
                @media screen and (max-width:768px){
                    // font-size:$h6;
                    font-size:$h7;
                }
            }
        }
    }
}

.section6 {
    width: 100%;
    .store {
        width: 100%;
        background-image: url("/img/06.jpg");
        background-size: cover;
        padding-bottom: 300px;
        border:1px rgb(185, 163, 102) solid;
        .store-content-box {
            width: 65%;
            margin:auto;
            display:flex;
            justify-content: space-around;
            margin-top:15%;
            @media screen and (max-width:1067px) {
                flex-direction:column-reverse;
            }
            .map {
                width: 60%;
                margin:auto;
                @media screen and (max-width:1067px) {
                    width:100%;
                }
            }
            .store-text {
                width: 40%;
                @media screen and (max-width:1067px) {
                    width:100%;
                }
                .store-title {
                    width: 92%;
                    font-family: Microsoft JhengHei;
                    padding-right: 10%;
                    text-align: right;
                    margin-left:15%;
                    @media screen and (max-width:768px) {
                        margin-left:11%;
                        text-align:center;
                    }
                    span {
                        font-size: $h1;
                        font-weight: 900;
                        @media screen and (max-width: 768px) {
                            font-size: $h5;
                            text-align:center;
                        }
                        
                    }
                    #store-font-size {
                        font-size:$h5;
                        @media screen and (max-width: 768px) {
                            font-size: $h8;
                        }
                    }
                }
                .store-text-title {
                    font-size: $h5;
                    font-family: Microsoft JhengHei;
                    margin-left:8%;
                    margin-top:25%;
                    @media screen and (max-width:1067px) {
                        margin-top:0%;
                    }
                    @media screen and (max-width:1067px) {
                        font-size:$h7;
                    }
                    @media screen and (max-width:768px) {
                        text-align:center;
                        margin-top:2%;
                        margin-left:0%;
                    }
                }
                .store-text-content {
                    font-size: $h7;
                    font-family: Microsoft JhengHei;
                    margin-left:8%;
                    margin-top:10%; 
                    font-weight:600;
                    @media screen and (max-width:1067px) {
                        margin-top:0;
                    }
                    @media screen and (max-width:1067px) {
                        font-size:$h8;
                    }
                    @media screen and (max-width:768px) {
                        text-align:center;
                        margin-left:0%;
                    }
                    .copyright {
                        font-size: $h7;
                        font-family: Microsoft JhengHei;
                        margin-top:10%;
                        @media screen and (max-width:1067px) {
                            padding-bottom:3%;
                        }
                        @media screen and (max-width:1067px) {
                            font-size:$h8;
                        }
                        @media screen and (max-width:768px) {
                            text-align:center;
                        }
                    }
                }
            }
        }
    }
}
