@import "variables";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.section1 {
    width: 100%;
    // nav
    .navbar {
        width: 100%;
        height: 10%;
        background-color: rgba(249, 225, 184, 0.65);
        position: fixed;
        z-index: 999;
        bottom: 90%;
        display: flex;
        align-content: center;
        font-family: Microsoft JhengHei;
        // 店名
        .title {
            width: 40%;
            border-radius: 40px;
            text-align: left;
            margin-left: 20px;
            position: relative;
            z-index: 1;
            a {
                text-decoration: none;
                span {
                    color: #893d1f;
                    font-size: $h1;
                    font-weight: 900;
                    @media screen and (max-width: 768px) {
                        font-size: $h4;
                    }
                    @media screen and (max-width: 360px) {
                        font-size: $h6;
                    }
                }
            }
        }
        
        // nav右邊的點選列表
        .nav-list {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            a {
                text-decoration: none;
                span {
                    color: #893d1f;
                    font-size: $h5;
                    font-weight: 600;
                    letter-spacing: 2px;
                    @media screen and (max-width: 768px) {
                        font-size: $h7;
                    }
                    @media screen and (max-width: 607px) {
                        font-size: $h8;
                    }
                }
            }
        }
    }
}

.section2 {
    width: 100%;
    .shop-menu {
        width: 100%;
        background-image: url("/img2/02.jpg");
        background-size: cover;
        padding: 105px;
        @media screen and (max-width: 399px) {
            padding: 80px;
        }
        .menu-title {
            width: 92%;
            font-family: Microsoft JhengHei;
            margin-top: 5%;
            margin-left: 0.5%;
            .menu-line {
                width: 10%;
                border: 1px green solid;
            }
            span {
                font-size: $h1;
                font-weight: 900;
                @media screen and (max-width: 768px) {
                    font-size: $h3;
                }
            }
            #menu-font-size {
                font-size: $h5;
                @media screen and (max-width: 768px) {
                    font-size: $h7;
                }
            }
        }

        .menu-box {
            min-width: 94%;
            margin: auto;
            margin-top: 2%;
            margin-right: 10%;
            display: flex;
            justify-content: space-around;
            @media screen and (max-width: 1697px) {
                flex-direction: column;
                min-width: 80%;
            }
            @media screen and (max-width: 399px) {
                min-width: 100%;
            }

            .left-box {
                max-width: 40%;
                position: relative;
                @media screen and (max-width: 768px) {
                    max-width: 60%;
                }
                .left-box-img {
                    position: relative;
                    width: 100%;
                    @media screen and (max-width: 1697px) {
                        margin-left: 75%;
                    }
                    @media screen and (max-width: 768px) {
                        margin-left: 40%;
                    }
                    &:hover {
                        opacity: 0;
                    }
                }
                .left-box-img2 {
                    position: absolute;
                    width: 99%;
                    right: 0.5%;
                    @media screen and (max-width: 1697px) {
                        left: 75%;
                    }
                    @media screen and (max-width: 798px) {
                        left: 75%;
                    }
                    @media screen and (max-width: 768px) {
                        left: 40%;
                    }
                }
            }
            .right-box {
                width: 58%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: space-between;
                @media screen and (max-width: 1697px) {
                    width: 100%;
                    margin-top: 2%;
                }
                @media screen and (max-width: 768px) {
                    max-width: 120%;
                }
                .food-box {
                    width: 270px;
                    display: flex;
                    flex-wrap: wrap;
                    @media screen and (max-width: 1099px) {
                        width: 200px;
                    }
                    @media screen and (max-width: 768px) {
                        width: 120px;
                    }
                    @media screen and (max-width: 547px) {
                        width: 80px;
                    }
                    img {
                        width: 100%;
                    }
                    .food-pt1 {
                        position: relative;
                        width: 270px;
                        &:hover {
                            opacity: 0;
                        }
                    }
                    .food-pt2 {
                        position: absolute;
                        width: 270px;
                    }
                }
                .food-box-bottom {
                    @media screen and (max-width: 1697px) {
                        margin-top: 1%;
                    }
                }

                .food3 {
                    font-family: Microsoft JhengHei;
                    font-weight: 600;
                    writing-mode: vertical-lr;
                    display: flex;
                    flex-direction: column;
                    @media screen and (max-width: 1697px) {
                        display: none;
                    }
                    .food-text3 {
                        margin-top: 40%;
                        font-size: $h2;
                    }

                    .food-text2 {
                        font-size: $h6;
                        margin-top: 40%;
                    }

                    .food-text {
                        margin-left: 40%;
                        margin-top: 40%;
                        font-size: $h6;
                    }
                }
            }
        }
    }
}

.section3 {
    width: 100%;
    .news {
        width: 100%;
        background-image: url("/img2/03.jpg");
        background-size: cover;
        padding-bottom: 200px;
        .news-title {
            width: 92%;
            font-family: Microsoft JhengHei;
            padding-top: 8%;
            margin-left: 3%;
            text-align: center;
            .news-line {
                width: 10%;
                margin: auto;
                border: 1px green solid;
            }
            span {
                font-size: $h1;
                font-weight: 900;
                @media screen and (max-width: 768px) {
                    font-size: $h3;
                }
            }
            #news-font-size {
                font-size: $h5;
                @media screen and (max-width: 768px) {
                    font-size: $h7;
                }
            }
        }
        .card-group {
            width: 80%;
            display: flex;
            justify-content: space-around;
            margin: auto;
            margin-top: 5%;
            .card2,
            .card3 {
                margin-left: 10px;
            }
        }
    }
}

.section4 {
    width: 100%;

    .shop {
        width: 100%;
        background-image: url("/img2/04.jpg");
        background-size: cover;
        padding-bottom: 300px;
        .shop-title {
            width: 92%;
            font-family: Microsoft JhengHei;
            text-align: center;
            margin-left: 3%;
            padding-top: 10%;
            .shop-line {
                width: 10%;
                margin: auto;
                border: 1px green solid;
            }
            span {
                font-size: $h1;
                font-weight: 900;
                @media screen and (max-width: 768px) {
                    font-size: $h3;
                }
            }
            #shop-font-size {
                font-size: $h5;
                @media screen and (max-width: 768px) {
                    font-size: $h7;
                }
            }
        }
        .shop-box {
            width: 90%;
            margin: auto;
            margin-top: 2%;
            display: flex;
            .shop-left {
                width: 20%;
                display: flex;
                flex-wrap: wrap;
                align-content: space-around;
                .shop-text {
                    width: 80%;
                    color: white;
                    border-radius: 50px;
                    font-size: $h2;
                    font-weight: 900;
                    font-family: Microsoft JhengHei;
                    text-align: center;
                    padding: 5% 0;
                    &:hover {
                        color: rgb(235, 45, 45);
                    }
                }
            }
            .shopcard-group {
                width: 80%;
                display: flex;
                justify-content: space-around;
                .shopcard {
                    width: 30%;
                    display: flex;
                    flex-wrap: wrap;
                    .img {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.section5 {
    width: 100%;
    .about {
        width: 100%;
        background-image: url("/img2/05.jpg");
        background-size: cover;
        padding-bottom: 200px;
        .about-title {
            width: 92%;
            font-family: Microsoft JhengHei;
            padding-top: 13%;
            padding-right: 10%;
            text-align: right;
            .about-line {
                width: 10%;
                margin-left: 90%;
                border: 1px green solid;
            }
            span {
                font-size: $h1;
                font-weight: 900;
                @media screen and (max-width: 768px) {
                    font-size: $h3;
                }
            }
            #about-font-size {
                font-size: $h5;
                @media screen and (max-width: 768px) {
                    font-size: $h7;
                }
            }
        }
        .about-text {
            width: 35%;
            margin-top: 3%;
            margin-left: 48.5%;
            line-height: 40px;
            font-weight: 600;
            font-family: Microsoft JhengHei;
            li {
                font-size: $h5;
            }
            p {
                margin-top: 1%;
                font-size: $h6;
            }
        }
    }
}

.section6 {
    width: 100%;
    .store {
        width: 100%;
        background-image: url("/img2/06.jpg");
        background-size: cover;
        padding-bottom: 200px;
        // .store-title {
        //     width: 92%;
        //     font-family: Microsoft JhengHei;
        //     padding-top: 13%;
        //     padding-right: 10%;
        //     text-align: right;
        //     .store-line {
        //         width: 10%;
        //         margin-left: 90%;
        //         border: 1px green solid;
        //     }
        //     span {
        //         font-size: $h1;
        //         font-weight: 900;
        //         @media screen and (max-width: 768px) {
        //             font-size: $h3;
        //         }
        //     }
        //     #store-font-size {
        //         font-size: $h5;
        //         @media screen and (max-width: 768px) {
        //             font-size: $h7;
        //         }
        //     }
        // }

        .store-content-box {
            width: 65%;
            background-color: pink;
            border:1px black solid;
            display:flex;
            justify-content: space-around;
            margin:auto;
            margin-top:3%;
            .map {
                width: 40%;
            }
            .store-text {
                width: 40%;
                background-color: beige;
                .store-title {
                    width: 92%;
                    font-family: Microsoft JhengHei;
                    padding-top: 13%;
                    padding-right: 10%;
                    text-align: right;
                    .store-line {
                        width: 10%;
                        margin-left: 90%;
                        border: 1px green solid;
                    }
                    span {
                        font-size: $h1;
                        font-weight: 900;
                        @media screen and (max-width: 768px) {
                            font-size: $h3;
                        }
                    }
                    #store-font-size {
                        font-size: $h5;
                        @media screen and (max-width: 768px) {
                            font-size: $h7;
                        }
                    }
                }
                .store-text-title {
                    font-size: $h5;
                    font-family: Microsoft JhengHei;
                    margin-top:50%;
                    margin-left:15%;
                }
                .store-text-content {
                    font-size: $h7;
                    font-family: Microsoft JhengHei;
                    margin-top:5%;
                    margin-left:15%;
                    
                    .copyright {
                        font-size: $h7;
                        font-family: Microsoft JhengHei;
                        margin-top:10%;
                    }
                }
            }
        }
    }
}
